name: 'Integration test'

on:
  workflow_call:
    inputs:
      shell-installer-url:
        type: string
        required: true

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      AUTIFY_CLI_INTEGRATION_TEST_INSTALL: 1
      AUTIFY_TEST_WAIT_INTERVAL_SECOND: 0
      AUTIFY_CONNECT_CLIENT_MODE: fake
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3

      - id: web-test-run
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/scenarios/0000
      - run: test "${{ steps.web-test-run.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run.outputs.log }}" | grep "Successfully started"
      - run: echo "${{ steps.web-test-run.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: web-test-run-wait
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/scenarios/0000
          wait: true
          interval: 3
      - run: test "${{ steps.web-test-run-wait.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run-wait.outputs.log }}" | grep "Test passed!"
      - run: echo "${{ steps.web-test-run-wait.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: web-test-run-wait-autify-connect-client
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/scenarios/0000
          wait: true
          autify-connect-client: true
      - run: test "${{ steps.web-test-run-wait-autify-connect-client.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run-wait-autify-connect-client.outputs.log }}" | grep "Autify Connect Client is ready!"
      - run: echo "${{ steps.web-test-run-wait-autify-connect-client.outputs.log }}" | grep "Test passed!"
      - run: echo "${{ steps.web-test-run-wait-autify-connect-client.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: web-test-run-test-plan
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/test_plans/0000
      - run: test "${{ steps.web-test-run-test-plan.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run-test-plan.outputs.log }}" | grep "Successfully started"
      - run: echo "${{ steps.web-test-run-test-plan.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: web-test-run-test-plan-wait
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/test_plans/0000
          wait: true
      - run: test "${{ steps.web-test-run-test-plan-wait.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run-test-plan-wait.outputs.log }}" | grep "Test passed!"
      - run: echo "${{ steps.web-test-run-test-plan-wait.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: web-test-run-test-plan-wait-autify-connect-client
        uses: ./
        with:
          access-token: token
          autify-path: autify-with-proxy
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/test_plans/0000
          wait: true
          autify-connect-client: true
      - run: test "${{ steps.web-test-run-test-plan-wait-autify-connect-client.outputs.exit-code }}" = 0
      - run: echo "${{ steps.web-test-run-test-plan-wait-autify-connect-client.outputs.log }}" | grep "Autify Connect Client is ready!"
      - run: echo "${{ steps.web-test-run-test-plan-wait-autify-connect-client.outputs.log }}" | grep "Test passed!"
      - run: echo "${{ steps.web-test-run-test-plan-wait-autify-connect-client.outputs.result-url }}" | grep -E 'https://app.autify.com/projects/[[:digit:]]+/'

      - id: failed
        uses: ./
        with:
          access-token: token
          autify-path: 'false'
          autify-cli-installer-url: ${{ inputs.shell-installer-url }}
          autify-test-url: https://app.autify.com/projects/0000/scenarios/0000
        continue-on-error: true
      - run: test "${{ steps.failed.outputs.exit-code }}" = 1
      - run: test -z "${{ steps.failed.outputs.log }}"
      - run: test -z "${{ steps.failed.outputs.result-url }}"
